<!DOCTYPE html>
<html>
<head><title><%= team.name %></title></head>
<body>
  <h1><%= team.name %></h1>
  <p>League: <%= team.leagueName %></p>
  <a href="/teams">Back to My Teams</a>
</body>
</html>


