<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title || "Fantasy Football Tracker" %></title>

  <!-- Link CSS -->
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <!-- Navbar -->
  <%- include('partials/_nav') %>

  <!-- Page content -->
  <main>
    <div class="container">
      <%- body %>
    </div>
  </main>
</body>
</html>

