<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title || "Fantasy Football Tracker" %></title>
</head>
<body>
  <!-- Navbar -->
  <%- include('partials/_nav') %>

  <!-- Page content -->
  <main>
    <%- body %>
  </main>
</body>
</html>
